<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>FreeCodeCamp Request Header Parser Microservice</title>
    <meta name="description" content="FreeCodeCamp Request Header Parser Microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        FreeCodeCamp Request Header Parser Microservice
      </h1>
    </header>

    <main>
      <h2>User Stories</h2>
      <ol>
        <li>I can get the IP address, language and operating system for my browser.</li>
        <li><i>[IMPLIED FROM EXAMPLE]</i> I will obtain this from a route of "api/whoami".</li>
      </ol>
      
      <h2>
        Example
      </h2>
      <ul>
        <li><a href="./api/whoami">Who am I?</a></li>
      </ul>
      
      <h2>
        References
      </h2>
      <p>
        <a href="https://cryptic-ridge-9197.herokuapp.com/api/whoami/"
           target="_blank">
          Example project from FreeCodeCamp</a>
      </p>
    </main>

    <footer>
      <a href="https://www.freecodecamp.org/challenges/request-header-parser-microservice"
         target="_blank">
        FreeCodeCamp Request Header Parser Microservice
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
